<section class="what-we-do-section">
  <div class="container">
    <header>
      <h2>Was wir tun</h2>
    </header>

    <article>
      <div class="row">
        <div class="col-md-4">
          <div class="what-we-do-card">
            <div class="card-img">
              <img class="w-100" src="assets/home/glasses.png" alt="glasess image">
              <div class="layer"></div>
            </div>
            <h4>Begleitung der
              ausländischen Unternehmen</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what-we-do-card">
            <div class="card-img">
              <div class="card-img">
                <img class="w-100" src="assets/home/building.png" alt="building image">
                <div class="layer"></div>
              </div>
              <div class="layer"></div>
            </div>
            <h4>Unterstützung bei
              Firmengründung</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what-we-do-card">
            <div class="card-img">
            <img class="w-100" src="assets/home/hands.png" alt="hands image">

              <div class="layer"></div>
            </div>
            <h4>Internationale
              Steuerangelegenheiten</h4>
          </div>
        </div>
      </div>
    </article>
    
    <div class="link-section">
      <a [routerLink]="['/was-wir-tun']">
        Alle ansehen <i class="bi bi-arrow-right"></i>
      </a>
    </div>
  </div>
</section>