<section class="what-we-do-section" [hidden]="data?.hidden">
  <div class="container">
    <header>
      <h2>{{data?.title}}</h2>
    </header>

    <article>
      <div class="row">
        <div class="col-md-4 mb-2" *ngFor="let card of data?.media">
          <div class="what-we-do-card">
            <div class="card-img">
              <img class="w-100" src="{{card?.image}}" alt="glasess image">
              <div class="layer"></div>
            </div>
            <h4>{{card?.title}}</h4>
          </div>
        </div>
      </div>
    </article>
    
    <div class="link-section" [hidden]="data?.btnHidden">
      <a [routerLink]="['/was-wir-tun']">
        Alle ansehen <i class="bi bi-arrow-right"></i>
      </a>
    </div>
  </div>
</section>