<main>
  <div class="main-text">
    <h2>Kontakt</h2>
    <div class="breadcrumb">
      <a routerLink="/" class="active-bread">Home</a>
      <a class="not-active-bread"> / Kontakt</a>
    </div>
  </div>
</main>

<section class="partnership-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <header>
          <h2>RUFEN SIE UNS AN</h2>
        </header>

        <article>
          <p>
            Wir sind hier, um Ihnen bei der Beantwortung Ihrer Fragen zu helfen. Rechts- und Steuerangelegenheiten können kompliziert sein. Unsere Experten informieren Sie gerne über alle Aspekte Ihres Themas. Wir sind sehr stolz darauf, unser Fachwissen für Sie einzusetzen und freuen uns darauf, von Ihnen zu hören.
          </p>
        </article>
      </div>

      <div class="col-md-6">
        <div class="img-card">
          <img src="assets/kontakt/mobile.png" class="w-100" alt="">
          <div class="layer"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-shared-contact></app-shared-contact>