<main>
  <div *ngIf="lang == 'due'" class="main-text">
    <h2>Kontakt</h2>
    <div class="breadcrumb">
      <a routerLink="/" class="active-bread">Home</a>
      <a class="not-active-bread"> / Kontakt</a>
    </div>
  </div>

  <div *ngIf="lang == 'en'" class="main-text">
    <h2>Contact</h2>
    <div class="breadcrumb">
      <a routerLink="/" class="active-bread">Home</a>
      <a class="not-active-bread"> / Contact</a>
    </div>
  </div>

  <div *ngIf="lang == 'ar'" class="main-text">
    <h2>تواصل معنا</h2>
    <div class="breadcrumb">
      <a routerLink="/" class="not-active-bread">الصفحه الرئيسية</a>
      <a class="active-bread"> / تواصل معنا</a>
    </div>
  </div>
</main>

<section class="partnership-section" *ngIf="contactPageData$ | async as contact">
  <div class="container" [hidden]="contact?.hidden">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <header>
          <h2>{{contact?.title}}</h2>
        </header>

        <article>
          <p>
            {{contact?.description}}
          </p>
        </article>
      </div>

      <div class="col-md-6">
        <div class="img-card">
          <img src="{{contact?.image}}" class="w-100" alt="">
          <div class="layer"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-shared-contact></app-shared-contact>