<main>
  <div class="main-text">
    <h2>Kontakt</h2>
    <div class="breadcrumb">
      <a routerLink="/">Home/</a>
      <a routerLink="">Kontakt</a>
    </div>
  </div>
</main>

<section class="partnership-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <header>
          <h2>RUFEN SIE UNS AN</h2>
        </header>

        <article>
          <p>
            Wir sind hier, um Ihnen bei der Beantwortung Ihrer Fragen zu helfen. Rechts- und Steuerangelegenheiten können kompliziert sein. Unsere Experten informieren Sie gerne über alle Aspekte Ihres Themas. Wir sind sehr stolz darauf, unser Fachwissen für Sie einzusetzen und freuen uns darauf, von Ihnen zu hören.
          </p>
        </article>
      </div>

      <div class="col-md-6">
        <div class="img-card">
          <img src="assets/kontakt/mobile.png" class="w-100" alt="">
          <div class="layer"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header>
          <h2>Kontakt</h2>
        </header>

        <article>
          <div class="row">
            <div class="col-md-6">
              <div class="contact-card">
                <img class="hvr-bob" src="assets/home/Frame.png" alt="" srcset="">
                <a>Dr. jur. Sameh Iskander
                  Platanen str. 6, D-01129 Dresden</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="contact-card">
                <img class="hvr-bob" src="assets/home/call.png" alt="" srcset="">
                <a href="tel:+49 (0)3518471552">Telefon Nr. : +49 (0) 351 847 1552</a>
                <a href="tel:+49 (0)3518471552">Telefax:+49 (0) 351 847 1552</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="contact-card">
                <img class="hvr-bob" src="assets/home/sms-notification.png" alt="" srcset="">
                <a target="_blank" href="mailto:info@iskander-lbc.com">info@iskander-lbc.com</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="contact-card">
                <img class="hvr-bob" src="assets/home/clock.png" alt="" srcset="">
                <a>Mo.-Fr.: 9:00 Uhr bis 16:00 Uhr</a>
              </div>
            </div>
          </div>
        </article>
      </div>

      <div class="col-md-6">
        <form>
          <div class="form-group">
            <input type="text" autocomplete="name" placeholder="Ihr Name (Pflichtfeld)" class="form-control">
          </div>

          <div class="form-group">
            <input autocomplete="email" type="email" placeholder="Ihre E-Mail-Adresse (Pflichtfeld)
            " class="form-control">
          </div>

          <div class="form-group">
            <input type="text" placeholder="Betreff
            " class="form-control">
          </div>

          <div class="form-group">
            <textarea type="text" rows="3" placeholder="Ihre Nachricht
            " class="form-control"></textarea>
          </div>

          <div class="action">
            <button type="submit">Senden</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>