@import "../../../styles.scss";
main {
  background-image: url(../../../assets/was-wir-tun/intro-image.png);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0rem;
  .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h2 {
      font-family: Lato;
      font-size: 48px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0px;
      color: #062c7f;
    }
    @media (max-width: 768px) {
      h2 {
        font-size: 32px;
      }
      gap: 10px;
      
    }
    .breadcrumb {
      display: flex;
      gap: 0.2rem;
      .active-bread {
        text-decoration: none;
        border-bottom: 2px solid $main-theme-bright;
        font-family: Lato;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0px;
        color: $main-theme-bright;
      }
      .not-active-bread {
        text-decoration: none;
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;
        color: #021235;
      }
    }
  }
  @media (max-width: 768px) {
    padding: 2rem 0rem;
  }
}

.partnership-section {
  padding: 3rem 0rem;
  .img-card {
    position: relative;
    overflow: hidden;
    img {
      transition: scale 0.5s ease-in-out;
      scale: 1.05;
    }
    .layer {
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.5);
      transition: opacity 0.5s ease-in-out;
    }
    &:hover {
      .layer {
        opacity: 1;
      }
      img {
        scale: 1.1;
      }
    }
  }
  header {
    margin-bottom: 2rem;
    h2 {
      font-family: Lato;
      font-size: 40px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0px;
      color: $main-theme;
      @media (max-width: 600px) {
        font-size: 32px;
      }
    }
  }
  article {
    p {
      font-family: Lato;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0px;
      text-align: left;
      color: #5f5f7a;
      @media (max-width: 600px) {
        font-size: 18px;
      }
    }
  }
}
