<section class="landing">
  <div class="landing-content">
    <div class="container d-flex h-100 flex-column justify-content-center">
      <header>
        <h1>{{data?.title}}</h1>
        <h3>
          {{data?.description}}
        </h3>
      </header>
      <div class="header-btn" [hidden]="data?.btnHidden">
        <a *ngIf="lang == 'due'" [routerLink]="['/was-wir-sind']">Mehr Erfahren</a>
        <a *ngIf="lang == 'en'" [routerLink]="['/was-wir-sind']">Learn more</a>
        <a *ngIf="lang == 'ar'" [routerLink]="['/was-wir-sind']">اعرف اكثر</a>
      </div>
    </div>
  </div>
</section>