<section class="landing">
  <div class="landing-content">
    <div class="container d-flex h-100 flex-column justify-content-center">
      <header>
        <h1>Iskander - LBC</h1>
        <h3>
          Begleitet und unterstützt die Unternehmen sowohl in Deutschland als auch in Ägypten bei Firmengründung,
          Steuerangelegenheiten und suchen nach geeigneten Kooperationspartner
        </h3>
      </header>
      <div class="header-btn">
        <a [routerLink]="['/was-wir-sind']">Mehr Erfahren</a>
      </div>
    </div>
  </div>
</section>