<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header>
          <h2>Kontakt</h2>
        </header>

        <article>
          <div class="row">
            <div class="col-md-6">
              <div class="contact-card">
                <img class="hvr-bob" src="assets/home/Frame.png" alt="" srcset="">
                <a>Dr. jur. Sameh Iskander
                  Platanen str. 6, D-01129 Dresden</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="contact-card">
                <img class="hvr-bob" src="assets/home/call.png" alt="" srcset="">
                <a href="tel:+49 (0)3518471552">Telefon Nr. : +49 (0) 351 847 1552</a>
                <a href="tel:+49 (0)3518471552">Telefax:+49 (0) 351 847 1552</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="contact-card">
                <img class="hvr-bob" src="assets/home/sms-notification.png" alt="" srcset="">
                <a target="_blank" href="mailto:info@iskander-lbc.com">info@iskander-lbc.com</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="contact-card">
                <img class="hvr-bob" src="assets/home/clock.png" alt="" srcset="">
                <a>Mo.-Fr.: 9:00 Uhr bis 16:00 Uhr</a>
              </div>
            </div>
          </div>
        </article>
      </div>

      <div class="col-md-6">
        <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
          <div class="form-group">
            <input type="text" formControlName="name" autocomplete="name" placeholder="Ihr Name (Pflichtfeld)" class="form-control">
            <div class="text-danger" style="font-size: 14px; margin:.1rem 0rem 0rem .3rem;" *ngIf="contactForm.controls['name'].errors?.['minlength']">Name is required</div>
          </div>

          <div class="form-group">
            <input formControlName="email" autocomplete="email" type="email" placeholder="Ihre E-Mail-Adresse (Pflichtfeld)
            " class="form-control">
            <div class="text-danger" style="font-size: 14px; margin:.1rem 0rem 0rem .3rem;" *ngIf="contactForm.controls['email'].errors?.['minlength']">Email is required</div>
            <div class="text-warning" style="font-size: 14px; margin:.1rem 0rem 0rem .3rem;" *ngIf="contactForm.controls['email'].errors?.['email']">Email format isn't correct</div>
          </div>

          <div class="form-group">
            <input formControlName="subject" type="text" placeholder="Betreff
            " class="form-control">
            <div class="text-danger" style="font-size: 14px; margin:.1rem 0rem 0rem .3rem;" *ngIf="contactForm.controls['subject'].errors?.['minlength']">Subject is required</div>
          </div>

          <div class="form-group">
            <textarea formControlName="message" type="text" rows="3" placeholder="Ihre Nachricht
            " class="form-control"></textarea>

            <div class="text-danger" style="font-size: 14px; margin:.1rem 0rem 0rem .3rem;" *ngIf="contactForm.controls['message'].errors?.['minlength']">Message is required</div>
          </div>

          <div class="action">
            <button title="Please fill the above form with the correct data first" type="submit" [disabled]="!contactForm.valid">Senden</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>