<section class="iskander-section" [hidden]="data?.hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-6 iskander-image">
        <img src="{{data?.image}}" alt="Iskander image" class="w-100">
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center" >
        <header [class.border-en]="lang == 'due' || lang == 'en'" [class.border-ar]="lang=='ar'">
          <h2>{{data?.title}}</h2>
          <h4>{{data?.subTitle}}</h4>
          <p>{{data?.extraTitle}}</p>
        </header>

        <article>
          <p>
           {{data?.description}}
          </p>
        </article>

        <figure>
          <img src="assets/home/Iskander.png" alt="" srcset="">
        </figure>

        <div class="action" [hidden]="data?.btnHidden">
          <a class="btn" *ngIf="lang == 'due'" [routerLink]="['/wer-wir-sind']">Mehr Erfahren</a>
          <a class="btn" *ngIf="lang == 'en'" [routerLink]="['/wer-wir-sind']">Learn more</a>
          <a class="btn" *ngIf="lang == 'ar'" [routerLink]="['/wer-wir-sind']">اعرف اكثر</a>
        </div>
      </div>
    </div>
  </div>
</section>