<section class="iskander-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 iskander-image">
        <img src="assets/home/iskander-section-img.png" alt="Iskander image" class="w-100">
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <header>
          <h2>Wer Wir Sind</h2>
          <h4>Dr. jur. Sameh Iskander,</h4>
          <p>Ägyptischer Rechtsanwalt & LL.M. Deutschland</p>
        </header>

        <article>
          <p>
            Dr. Iskander hat der sein juristisches Staatsexamen an der Universität Ain Shams in Kairo/ Ägypten abgelegt.
            An der Universität Leipzig hat er einen internationalen LL.M.-Abschluss erworben und zum Internationalen
            Privatrecht promoviert.
            Dr. Iskander ist in Ägypten durch die Rechtsanwaltskammer Kairo zugelassener Rechtsanwalt und Mitglied der
            Rechtsanwaltskammer Kairo.

          </p>
        </article>

        <figure>
          <img src="assets/home/Iskander.png" alt="" srcset="">
        </figure>

        <div class="action">
          <a class="btn" [routerLink]="['/was-wir-sind']">Mehr Erfahren</a>
        </div>
      </div>
    </div>
  </div>
</section>