@import '../../../../styles.scss';
.iskander-section {
  padding: 2rem 0rem;
  &:lang(ar) {
    direction: ltr;
  }
  .iskander-image {
    @media (max-width: 768px) {
      margin-bottom: 1rem;
    }
  }
  header {
    h2 {
      font-family: Lato;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0px;
      color: $main-theme;
      margin-bottom: 0.3rem;
      &:lang(ar) {
        text-align: right;
      }
    }
    @media (max-width: 600px) {
      h2 {
        font-size: 26px;
        margin-bottom: 0;
      }
    }
    h4 {
      font-family: Lato;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0px;
      color: #171729;
      margin-bottom: 0;
      &:lang(ar) {
        text-align: right;
      }
      @media (max-width: 600px) {
        font-size: 22px;
        margin-bottom: 0;
      }
    }
    p {
      color: #5f5f7a;
      font-size: 24px;
      font-weight: 300;
      line-height: 36px;
      letter-spacing: 0px;
      &:lang(ar) {
        text-align: right;
      }
      @media (max-width: 600px) {
        font-size: 22px;
        margin-bottom: 0;
      }
    }
  }
  article {
    p {
      font-family: Lato;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0px;
      color: #3f464b;
      &:lang(ar) {
        text-align: right;
      }
    }
    @media (max-width: 600px) {
      margin-top: 1rem;
      p {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
  figure {
    text-align: right;
  }

  .action {
    a {
      height: 48px;
      width: 161px;
      border-radius: 4.800000190734863px;
      padding: 9px 17px 9px 17px;
      background-color: $main-theme;
      color: #fff;
      font-family: Lato;
      border: 2px solid $main-theme;
      &:hover {
        background-color: transparent;
        color: $main-theme;
      }
    }
  }
}

.border-en {
  border-left: solid $main-theme 4px;
  padding-left: 19px;

}

.border-ar {
  border-right: solid $main-theme 4px;
  padding-right: 19px;

}