<section class="landing">
  <div class="landing-content">
    <div class="container d-flex h-100 flex-column justify-content-center">
      <header>
        <h1>Iskander - LBC </h1>
        <h3>
          Begleitet und unterstützt die Unternehmen sowohl in Deutschland als auch in Ägypten bei Firmengründung,
          Steuerangelegenheiten und suchen nach geeigneten Kooperationspartner
        </h3>
      </header>
      <div class="header-btn">
        <button>Mehr Erfahren</button>
      </div>
    </div>
  </div>
</section>

<section class="iskander-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 iskander-image">
        <img src="assets/home/iskander-section-img.png" alt="Iskander image" class="w-100">
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <header>
          <h2>Wer Wir Sind</h2>
          <h4>Dr. jur. Sameh Iskander,</h4>
          <p>Ägyptischer Rechtsanwalt & LL.M. Deutschland</p>
        </header>

        <article>
          <p>
            Dr. Iskander hat der sein juristisches Staatsexamen an der Universität Ain Shams in Kairo/ Ägypten abgelegt.
            An der Universität Leipzig hat er einen internationalen LL.M.-Abschluss erworben und zum Internationalen
            Privatrecht promoviert.
            Dr. Iskander ist in Ägypten durch die Rechtsanwaltskammer Kairo zugelassener Rechtsanwalt und Mitglied der
            Rechtsanwaltskammer Kairo.

          </p>
        </article>

        <figure>
          <img src="assets/home/Iskander.png" alt="" srcset="">
        </figure>

        <div class="action">
          <button class="btn">Mehr Erfahren</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="what-we-do-section">
  <div class="container">
    <header>
      <h2>Was wir tun</h2>
    </header>

    <article>
      <div class="row">
        <div class="col-md-4">
          <div class="what-we-do-card">
            <div class="card-img">
              <img class="w-100" src="assets/home/glasses.png" alt="glasess image">
              <div class="layer"></div>
            </div>
            <h4>Begleitung der
              ausländischen Unternehmen</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what-we-do-card">
            <div class="card-img">
              <div class="card-img">
                <img class="w-100" src="assets/home/building.png" alt="building image">
                <div class="layer"></div>
              </div>
              <div class="layer"></div>
            </div>
            <h4>Unterstützung bei
              Firmengründung</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what-we-do-card">
            <div class="card-img">
            <img class="w-100" src="assets/home/hands.png" alt="hands image">

              <div class="layer"></div>
            </div>
            <h4>Internationale
              Steuerangelegenheiten</h4>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>