<section class="landing">
  <div class="landing-content">
    <div class="container d-flex h-100 flex-column justify-content-center">
      <header>
        <h1>Iskander - LBC</h1>
        <h3>
          Begleitet und unterstützt die Unternehmen sowohl in Deutschland als auch in Ägypten bei Firmengründung,
          Steuerangelegenheiten und suchen nach geeigneten Kooperationspartner
        </h3>
      </header>
      <div class="header-btn">
        <button>Mehr Erfahren</button>
      </div>
    </div>
  </div>
</section>

<app-iskander-section></app-iskander-section>

<section class="what-we-do-section">
  <div class="container">
    <header>
      <h2>Was wir tun</h2>
    </header>

    <article>
      <div class="row">
        <div class="col-md-4">
          <div class="what-we-do-card">
            <div class="card-img">
              <img class="w-100" src="assets/home/glasses.png" alt="glasess image">
              <div class="layer"></div>
            </div>
            <h4>Begleitung der
              ausländischen Unternehmen</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what-we-do-card">
            <div class="card-img">
              <div class="card-img">
                <img class="w-100" src="assets/home/building.png" alt="building image">
                <div class="layer"></div>
              </div>
              <div class="layer"></div>
            </div>
            <h4>Unterstützung bei
              Firmengründung</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what-we-do-card">
            <div class="card-img">
            <img class="w-100" src="assets/home/hands.png" alt="hands image">

              <div class="layer"></div>
            </div>
            <h4>Internationale
              Steuerangelegenheiten</h4>
          </div>
        </div>
      </div>
    </article>
    
    <div class="link-section">
      <a [routerLink]="['/was-wir-tun']">
        Alle ansehen <i class="bi bi-arrow-right"></i>
      </a>
    </div>
  </div>
</section>

<section class="partnership-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <header>
          <h2>Partnerschaften</h2>
        </header>

        <article>
          <p>
            Ihr Ziel ist für uns sehr wichtig. Sie wollen in Ägypten oder in Deutschland neue Projekt beginnen, Immobilen kaufen oder eine Handelsvertretung gründen. Sie brauchen vielleicht eine gebrauchte gerichtliche Vertretung oder die Anerkennung Ihres Gerichtsurteils in Ägypten. Lassen Sie sich vor Ort begleiten.   Iskander-lbc kooperieret mit Anwälten und Steuerberater, die in Deutschland und in Ägypten tätig sind.
          </p>
        </article>
      </div>

      <div class="col-md-6">
        <div class="img-card">
          <img src="assets/home/partnership.png" class="w-100" alt="">
          <div class="layer"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-shared-contact></app-shared-contact>