<section class="landing">
  <div class="landing-content">
    <div class="container d-flex h-100 flex-column justify-content-center">
      <header>
        <h1>Iskander - LBC </h1>
        <h3>
          Begleitet und unterstützt die Unternehmen sowohl in Deutschland als auch in Ägypten bei Firmengründung,
          Steuerangelegenheiten und suchen nach geeigneten Kooperationspartner
        </h3>
      </header>
      <div class="header-btn">
        <button>Mehr Erfahren</button>
      </div>
    </div>
  </div>
</section>

<section class="iskander-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 iskander-image">
        <img src="assets/home/iskander-section-img.png" alt="Iskander image" class="w-100">
      </div>
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <header>
          <h2>Wer Wir Sind</h2>
          <h4>Dr. jur. Sameh Iskander,</h4>
          <p>Ägyptischer Rechtsanwalt & LL.M. Deutschland</p>
        </header>

        <article>
          <p>
            Dr. Iskander hat der sein juristisches Staatsexamen an der Universität Ain Shams in Kairo/ Ägypten abgelegt.
            An der Universität Leipzig hat er einen internationalen LL.M.-Abschluss erworben und zum Internationalen
            Privatrecht promoviert.
            Dr. Iskander ist in Ägypten durch die Rechtsanwaltskammer Kairo zugelassener Rechtsanwalt und Mitglied der
            Rechtsanwaltskammer Kairo.

          </p>
        </article>

        <figure>
          <img src="assets/home/Iskander.png" alt="" srcset="">
        </figure>

        <div class="action">
          <button class="btn">Mehr Erfahren</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="what-we-do-section">
  <div class="container">
    <header>
      <h2>Was wir tun</h2>
    </header>

    <article>
      <div class="row">
        <div class="col-md-4">
          <div class="what-we-do-card">
            <div class="card-img">
              <img class="w-100" src="assets/home/glasses.png" alt="glasess image">
              <div class="layer"></div>
            </div>
            <h4>Begleitung der
              ausländischen Unternehmen</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what-we-do-card">
            <div class="card-img">
              <div class="card-img">
                <img class="w-100" src="assets/home/building.png" alt="building image">
                <div class="layer"></div>
              </div>
              <div class="layer"></div>
            </div>
            <h4>Unterstützung bei
              Firmengründung</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what-we-do-card">
            <div class="card-img">
            <img class="w-100" src="assets/home/hands.png" alt="hands image">

              <div class="layer"></div>
            </div>
            <h4>Internationale
              Steuerangelegenheiten</h4>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

<section class="partnership-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <header>
          <h2>Partnerschaften</h2>
        </header>

        <article>
          <p>
            Ihr Ziel ist für uns sehr wichtig. Sie wollen in Ägypten oder in Deutschland neue Projekt beginnen, Immobilen kaufen oder eine Handelsvertretung gründen. Sie brauchen vielleicht eine gebrauchte gerichtliche Vertretung oder die Anerkennung Ihres Gerichtsurteils in Ägypten. Lassen Sie sich vor Ort begleiten.   Iskander-lbc kooperieret mit Anwälten und Steuerberater, die in Deutschland und in Ägypten tätig sind.
          </p>
        </article>
      </div>

      <div class="col-md-6">
        <div class="img-card">
          <img src="assets/home/partnership.png" class="w-100" alt="">
          <div class="layer"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header>
          <h2>Kontakt</h2>
        </header>

        <article>
          <div class="row">
            <div class="col-md-6">
              <div class="contact-card">
                <img class="hvr-bob" src="assets/home/Frame.png" alt="" srcset="">
                <a>Dr. jur. Sameh Iskander
                  Platanen str. 6, D-01129 Dresden</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="contact-card">
                <img class="hvr-bob" src="assets/home/call.png" alt="" srcset="">
                <a href="tel:+49 (0)3518471552">Telefon Nr. : +49 (0) 351 847 1552</a>
                <a href="tel:+49 (0)3518471552">Telefax:+49 (0) 351 847 1552</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="contact-card">
                <img class="hvr-bob" src="assets/home/sms-notification.png" alt="" srcset="">
                <a target="_blank" href="mailto:info@iskander-lbc.com">info@iskander-lbc.com</a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="contact-card">
                <img class="hvr-bob" src="assets/home/clock.png" alt="" srcset="">
                <a>Mo.-Fr.: 9:00 Uhr bis 16:00 Uhr</a>
              </div>
            </div>
          </div>
        </article>
      </div>

      <div class="col-md-6">
        <form>
          <div class="form-group">
            <input type="text" placeholder="Ihr Name (Pflichtfeld)" class="form-control">
          </div>

          <div class="form-group">
            <input type="text" placeholder="Ihre E-Mail-Adresse (Pflichtfeld)
            " class="form-control">
          </div>

          <div class="form-group">
            <input type="text" placeholder="Betreff
            " class="form-control">
          </div>

          <div class="form-group">
            <textarea type="text" rows="3" placeholder="Ihre Nachricht
            " class="form-control"></textarea>
          </div>

          <div class="action">
            <button type="submit">Senden</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>