<section class="partnership-section" [hidden]="data?.hidden"  [ngClass]="{'bg-blue': bgColor === true, 'bg-transpearnt' : bgColor === false }">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <header>
          <h2>{{data?.title}}</h2>
        </header>

        <article>
          <p>
            {{data?.description}}
          </p>
        </article>
      </div>

      <div class="col-md-6">
        <div class="img-card">
          <img src="{{data?.image}}" class="w-100" alt="">
          <div class="layer"></div>
        </div>
      </div>
    </div>
  </div>
</section>