<div class="impressum">
  <div class="container">
    <h2>Impressum</h2>
    <ul>
      <li>Iskander – LBC</li>
      <li>Platanen Str. 6</li>
      <li>D-01129 Dresden</li>
      <li>Tel.: +49 (0) 351 847 1552</li>
      <li>Fax: +49 (0) 351 821 1869</li>
      <li>E-Mail: info@iskander-lbc.com</li>
      <li>Verantwortlich für den Inhalt:</li>
      <li>Dr. jur. Sameh Iskander</li>
      <li>Platanen Str. 6</li>
      <li>01129 Dresden</li>
      <li>Iskander – LBC</li>
    </ul>
  </div>
</div>

<div class="impressum-blue">
  <div class="container">
    <p>Haftungsausschluss:</p>
    <p>
      Die Inhalte dieser Website werden mit größtmöglicher Sorgfalt erstellt. Der Anbieter übernimmt keine Gewähr für
      die Richtigkeit, Vollständigkeit und Aktualität der bereitgestellten Inhalte.
      Beiträge und Kommentare Dritter geben die Meinung des jeweiligen Autors und nicht die Meinung des Anbieters
      wieder. Mit der reinen Nutzung der Website des Anbieters kommt keinerlei
      Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande. Wenn Sie in den Beiträgen Dritter eine
      Rechtsverletzung feststellen, benachrichtigen Sie uns bitte und wir werden die
      Rechtsverletzung umgehend löschen. Auch für die Inhalte externer Links übernehmen wir keine Haftung. Für den
      Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
      Die Geltendmachung von Ansprüchen jeglicher Art ist ausgeschlossen.
    </p>
  </div>
</div>