<main>
  <div class="main-text">
    <h2>Was Wir Sind</h2>
    <div class="breadcrumb">
      <a routerLink="/" class="active-bread">Home</a>
      <a class="not-active-bread" routerLink="/was-wir-sind"> / Was wir sind</a>
    </div>
  </div>
</main>

<app-iskander-section [showBtn]="false"></app-iskander-section>

<app-partnership-home [bgColor] = true></app-partnership-home>

<app-was-wir-sind-partners></app-was-wir-sind-partners>

<app-shared-contact></app-shared-contact>

<div class="modal fade" id="first-partner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgba(0, 0, 0, 0.03);">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Partner 1</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-content-wrapper">
          <div class="modal-img">
            <img src="assets/was-wir-sind/andrew's-img.png" alt="" class="w-100">
          </div>

          <div class="modal-text">
            <header>
              <h2>Andrew Iskander</h2>
              <h3>Produkt designer</h3>
            </header>
            <article>
              <p>
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
              </p>
              <div class="slide-action">
                <button data-bs-toggle="modal" data-bs-target="#third-partner">
                  <img src="assets/was-wir-sind/arrow-left.png" alt="" srcset="">
                </button>

                <button data-bs-toggle="modal" data-bs-target="#second-partner">
                  <img src="assets/was-wir-sind/arrow-right.png" alt="" srcset="">
                </button>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="second-partner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgba(0, 0, 0, 0.03);">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Partner 2</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-content-wrapper">
          <div class="modal-img">
            <img src="assets/was-wir-sind/andrew's-img.png" alt="" class="w-100">
          </div>

          <div class="modal-text">
            <header>
              <h2>Andrew Iskander</h2>
              <h3>Produkt designer</h3>
            </header>
            <article>
              <p>
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
              </p>
              <div class="slide-action">
                <button data-bs-toggle="modal" data-bs-target="#first-partner">
                  <img src="assets/was-wir-sind/arrow-left.png" alt="" srcset="">
                </button>

                <button data-bs-toggle="modal" data-bs-target="#third-partner">
                  <img src="assets/was-wir-sind/arrow-right.png" alt="" srcset="">
                </button>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="third-partner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgba(0, 0, 0, 0.03);">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Partner 3</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-content-wrapper">
          <div class="modal-img">
            <img src="assets/was-wir-sind/andrew's-img.png" alt="" class="w-100">
          </div>

          <div class="modal-text">
            <header>
              <h2>Andrew Iskander</h2>
              <h3>Produkt designer</h3>
            </header>
            <article>
              <p>
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
              </p>
              <div class="slide-action">
                <button data-bs-toggle="modal" data-bs-target="#second-partner">
                  <img src="assets/was-wir-sind/arrow-left.png" alt="" srcset="">
                </button>

                <button data-bs-toggle="modal" data-bs-target="#first-partner">
                  <img src="assets/was-wir-sind/arrow-right.png" alt="" srcset="">
                </button>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
