<main *ngIf="lang == 'due'">
  <div class="main-text">
    <h2>Was Wir Tun</h2>
    <div class="breadcrumb">
      <a routerLink="/" class="active-bread">Home</a>
      <a class="not-active-bread" routerLink="/was-wir-tun"> / Was wir tun</a>
    </div>
  </div>
</main>

<main *ngIf="lang == 'en'">
  <div class="main-text">
    <h2>What We Do</h2>
    <div class="breadcrumb">
      <a routerLink="/" class="active-bread">Home</a>
      <a class="not-active-bread" routerLink="/was-wir-tun"> / What we do</a>
    </div>
  </div>
</main>

<main *ngIf="lang == 'ar'">
  <div class="main-text">
    <h2>ما نقوم به</h2>
    <div class="breadcrumb">
      <a routerLink="/" class="not-active-bread">الصفحه الرئيسية</a>
      <a class="active-bread" routerLink="/was-wir-tun"> / ما نقوم به</a>
    </div>
  </div>
</main>

<section [class.bg-blue]="isOdd" class="foregin-companies" *ngFor="let section of whatWeDoData$ | async; let isOdd = odd" [hidden]="section?.hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="{{section.image}}" alt="glasses_image">
      </div>

      <div class="col-md-8">
        <article>
          <h3>
            {{section?.title}}
          </h3>
          <p>
            {{section?.description}}
          </p>
        </article>
        <div *ngIf="lang == 'due'" class="redirect-link" [hidden]="section?.btnHidden">
          <a [routerLink]="['/was-wir-tun', section?._id]">Mehr erfahren <i class="bi bi-arrow-right"></i></a>
        </div>

        <div *ngIf="lang == 'en'" class="redirect-link" [hidden]="section?.btnHidden">
          <a [routerLink]="['/was-wir-tun', section?._id]">Know more <i class="bi bi-arrow-right"></i></a>
        </div>

        <div *ngIf="lang == 'ar'" class="redirect-link" [hidden]="section?.btnHidden">
          <a [routerLink]="['/was-wir-tun', section?._id]">اعرف اكثر <i class="bi bi-arrow-left"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>