<main>
  <div class="main-text">
    <h2>Was wir tun</h2>
    <div class="breadcrumb">
      <a routerLink="/">Home/</a>
      <a routerLink="">Was wir tun</a>
    </div>
  </div>
</main>

<section class="foregin-companies">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/was-wir-tun/foregin-company.png" alt="glasses_image" class="w-100">
      </div>

      <div class="col-md-8">
        <article>
          <h3>
            Begleitung der ausländischen Unternehmen
          </h3>
          <p>
            Sie haben eine Geschäftsidee und möchten mit der auf dem Markt einsteigen? Sie wissen aber nicht, wie Sie
            das bewerkstelligen sollen?
            Unsere Tipps können helfen: Ob Sie sich bereits entschieden haben, das eigene Unternehmen zu gründen, oder
            noch darüber nachdenken, womit Sie sich selbstständig machen wollen. Wir kennen die nötigen Etappen und
            begleiten Sie gerne auf Ihrem Weg zur Existenzgründung.
          </p>
        </article>
        <div class="redirect-link">
          <a>Mehr erfahren <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>