<main>
  <div class="main-text">
    <h2>Was wir tun</h2>
    <div class="breadcrumb">
      <a routerLink="/" class="active-bread">Home</a>
      <a class="not-active-bread" routerLink="/was-wir-tun">/ Was wir tun</a>
    </div>
  </div>
</main>

<section class="foregin-companies">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/was-wir-tun/foregin-company.png" alt="glasses_image">
      </div>

      <div class="col-md-8">
        <article>
          <h3>
            Begleitung der ausländischen Unternehmen
          </h3>
          <p>
            Sie haben eine Geschäftsidee und möchten mit der auf dem Markt einsteigen? Sie wissen aber nicht, wie Sie
            das bewerkstelligen sollen?
            Unsere Tipps können helfen: Ob Sie sich bereits entschieden haben, das eigene Unternehmen zu gründen, oder
            noch darüber nachdenken, womit Sie sich selbstständig machen wollen. Wir kennen die nötigen Etappen und
            begleiten Sie gerne auf Ihrem Weg zur Existenzgründung.
          </p>
        </article>
        <div class="redirect-link">
          <a [routerLink]="['/was-wir-tun/ausländischen-Unternehmen']">Mehr erfahren <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="founding-company">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article>
          <h3>
            Unterstützung bei Firmengründung
          </h3>
          <p>
            Finanzamt, Gewerbeamt, IHK, Handelsregister, Berufsgenossenschaft:
            Auf dem Weg zur Unternehmensgründung stehen viele Gänge zu Behörden und Institutionen an.
            Wie viele, hängt von der gewählten Rechtsform ab. Und die sollten Sie sorgsam wählen, denn mit der Wahl der
            Rechtsform entscheiden Sie auch über den Gründungsaufwand, die Besteuerung, den Verwaltungsaufwand und Ihr
            persönliches Haftungsrisiko.
          </p>
        </article>
        <div class="redirect-link">
          <a [routerLink]="['/was-wir-tun/unterstützung-bei-firmengründung']">Mehr erfahren <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-md-4">
        <img src="assets/was-wir-tun/founding-company.png" alt="glasses_image">
      </div>

    </div>
  </div>
</section>

<section class="suitable-cooperation">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/was-wir-tun/egy-ger-flag.png" alt="glasses_image">
      </div>

      <div class="col-md-8">
        <article>
          <h3>
            Suchen nach geeigneten Kooperationspartner in Ägypten
          </h3>
          <p>
            Unter einer Kooperation wird der strategische Zusammenschluss verschiedener Personen oder Institutionen
            verstanden, die auf diese Weise anstreben, ein gemeinsames Ziel zu erreichen.
            Kooperationen gehören zum Alltag vieler Unternehmen. Die Gründe für das Eingehen einer Kooperation sind sehr
            vielfältig. Egal, welche Motive dafür ausschlaggebend sind, sollte man immer die Chancen sowie die Risiken
            einer Zusammenarbeit gegenüberstellen und gemeinsam betrachten.
            Wenn Sie im Ausland Fuß fassen möchten, kann sich eine Kooperation für Sie besonders lohnen. Schließlich
            können Sie dann vom Know-how Ihres ausländischen Partners profitieren. Wir begleiten und beraten Sie und
            helfen Ihnen bei den Entscheidungen.
          </p>
        </article>
        <div class="redirect-link">
          <a [routerLink]="['/was-wir-tun/suchen-nach-geeigneten-kooperationspartner-in-Ägypten']">Mehr erfahren <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="international-tax">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article>
          <h3>
            Internationale Steuerangelegenheit
          </h3>
          <p>
            Wir betreuen Sie schon vor der Existenzgründung, beraten Sie bei der Findung der geeigneten Rechtsform des
            neu zu gründenden Unternehmens.
            Durch laufende Verbuchung Ihrer Geschäftsvorfälle können wir Sie anhand aktueller Zahlen aus der
            betriebswirtschaftlichen Auswertung beraten und die Zukunft Ihres jungen Unternehmens mitgestalten.
            Aufgrund unserer langjährigen Kooperation mit einer Steuerberaterkanzlei können auf Wunsch auch die
            Jahresabschlüsse und Steuererklärungen erstellt werden.
          </p>
        </article>
        <div class="redirect-link">
          <a [routerLink]="['/was-wir-tun/internationale-steuerangelegenheit']">Mehr erfahren <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-md-4">
        <img src="assets/was-wir-tun/tax.png" alt="glasses_image">
      </div>

    </div>
  </div>
</section>

<section class="business-plan">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/was-wir-tun/busniess-plan.png">
      </div>

      <div class="col-md-8">
        <article>
          <h3>
            Unterstützung beim Erstellen eines Businessplans
          </h3>
          <p>
            Der Businessplan ist die Basis einer soliden Unternehmensgründung. Mit einem sorgfältig ausgearbeiteten Geschäftsplan können Sie Banken und andere Geldgeber von Ihrer Geschäftsidee überzeugen.
            Vor allem aber hilft dieser Ihnen dabei, alle Aspekte Ihres Gründungsvorhabens kritisch zu beleuchten. Beim Erstellen des Businessplans setzen Sie sich sorgfältig mit allen wichtigen Einzelheiten, Chancen und Risiken Ihres Start-ups auseinander. Am Ende dient er Ihnen als Anleitung und Fahrplan zum Erfolg: Mit dem fertig erstellten Businessplan kennen Sie Ihre konkreten Ziele und wissen, auf welchem Weg sie erreichbar sind.
          </p>
        </article>
        <div class="redirect-link">
          <a [routerLink]="['/was-wir-tun/unterstützung-beim-Erstellen-eines-businessplans']">Mehr erfahren <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="legal-translation">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <article>
          <h3>
            Juristische Übersetzung
          </h3>
          <p>
            Sie müssen einem Kunden in Ägypten (in arabischsprachigen Ländern) Ihre AGBs zur Annahme übersenden, er bittet Sie aber um eine arabische Version? Ihre Rechtsabteilung hat einen Distributionsvertrag in deutscher Sprache verfasst, Ihr Geschäftspartner versteht aber nur arabisch? Ihr Mandant hat gegen eine ägyptische Firma geklagt oder wurde von einer verklagt, Sie können aber Schriftsätze und Gerichtsurkunden des Prozessgegners nicht verstehen? Sie brauchen eine beglaubigte Übersetzung eines Dokuments, Sie wissen aber nicht einmal, was damit gemeint ist?
            Wir übersetzen in den Sprachrichtungen Deutsch – Arabisch und Arabisch – Deutsch sämtliche Rechtskorrespondenz, wie z.B. Gründungsurkunden, Handelsregisterauszüge, Verträge, Urteile, Anwaltliche Schreiben, Patente, Klageschriften, aber auch Geschäftsbriefe und Sitzungsprotokolle. Und das mit der gleichen Sorgfalt wie sie verfasst wurden.
          </p>
        </article>
        <div class="redirect-link">
          <a [routerLink]="['/was-wir-tun/Juristische-Übersetzung']">Mehr erfahren <i class="bi bi-arrow-right"></i></a>
        </div>
      </div>

      <div class="col-md-4">
        <img src="assets/was-wir-tun/legel-translation.png" alt="glasses_image">
      </div>

    </div>
  </div>
</section>