<section class="contact-nav">
  <div class="container">
    <div class="contact-info">
        <div class="phone">Tel. Nr.:<a href="tel:+49 (0) 351-847 1552">+49 (0) 351-847 1552 </a>
        </div>
        <div class="email">
          E-Mail: 
          <a href="mailto:info@iskander-lbc.com">info@iskander-lbc.com</a>
        </div>
    </div>

    <div class="language">
        <a class="nav-link dropdown-toggle d-flex align-items-center mt-1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="assets/Vector.svg" alt="" srcset="">
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="changeLanguage('due')">GR</a></li>
          <li><a class="dropdown-item" (click)="changeLanguage('en')">EN</a></li>
          <li><a class="dropdown-item" (click)="changeLanguage('ar')">AR</a></li>
        </ul>
    </div>
  </div>
</section>
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/Group.svg" alt="" srcset="">
    </a>
    <button class="navbar-toggler" type="button"data-bs-toggle="offcanvas" data-bs-target="#offcanvasDark" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="filter: brightness(0) invert(1);
      "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/was-wir-sind']">Was wir sind</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/was-wir-tun']">Was wir tun</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <a class="btn bg-white" type="button" [routerLink]="['/kontakt']">kontakt</a>
      </form>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDark" aria-labelledby="offcanvasDarkLabel">
  <div class="offcanvas-header">
    <a class="navbar-brand" href="#">
      <img src="assets/Group.svg" alt="" srcset="">
    </a>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <ul class="navbar-nav m-auto mb-2 mb-lg-0 gap-3 justify-content-center">
        <li class="nav-item">
          <a data-bs-dismiss="offcanvas" class="nav-link" aria-current="page" [routerLink]="['/']">{{'Home'}} <i class="bi bi-arrow-right"></i></a>
        </li>
        
        <li class="nav-item">
          <a data-bs-dismiss="offcanvas" class="nav-link" [routerLink]="['/was-wir-sind']">{{'Was wir sind'}} <i class="bi bi-arrow-right"></i></a>
        </li>

        <li class="nav-item">
          <a data-bs-dismiss="offcanvas" class="nav-link"
            [routerLink]="['/was-wir-tun']">{{'Was wir tun'}} <i class="bi bi-arrow-right"></i></a>
        </li>

        <li class="nav-item">
          <a data-bs-dismiss="offcanvas" class="nav-link" [routerLink]="['/kontakt']">{{'Kontakt'}} <i class="bi bi-arrow-right"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>