<main>
  <div class="main-text">
    <h2>Was Wir Sind</h2>
    <div class="breadcrumb">
      <a routerLink="/" class="active-bread">Home</a>
      <a routerLink="" class="not-active-bread"> / Was wir sind</a>
    </div>
  </div>
</main>

<app-iskander-section [showBtn]="false"></app-iskander-section>

<section class="partnership-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex flex-column justify-content-center">
        <header>
          <h2>Partnerschaften</h2>
        </header>

        <article>
          <p>
            Ihr Ziel ist für uns sehr wichtig. Sie wollen in Ägypten oder in Deutschland neue Projekt beginnen,
            Immobilen kaufen oder eine Handelsvertretung gründen. Sie brauchen vielleicht eine gebrauchte gerichtliche
            Vertretung oder die Anerkennung Ihres Gerichtsurteils in Ägypten. Lassen Sie sich vor Ort begleiten.
            Iskander-lbc kooperieret mit Anwälten und Steuerberater, die in Deutschland und in Ägypten tätig sind.
          </p>
        </article>
      </div>

      <div class="col-md-6">
        <div class="img-card">
          <img src="assets/home/partnership.png" class="w-100" alt="">
          <div class="layer"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="what-we-do-section">
  <div class="container">
    <header>
      <h2>Partners</h2>
    </header>

    <article>
      <div class="row">
        <div class="col-md-4">
          <div class="what-we-do-card" data-bs-toggle="modal" data-bs-target="#first-partner">
            <div class="card-img">
              <img class="w-100" src="assets/was-wir-sind/andrew's-img.png" alt="glasess image">
              <div class="layer"></div>
            </div>
            <h4>Andrew Iskander</h4>
            <h5>Produkt Designer</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what-we-do-card" data-bs-toggle="modal" data-bs-target="#second-partner">
            <div class="card-img">
              <div class="card-img">
                <img class="w-100" src="assets/was-wir-sind/andrew's-img.png" alt="building image">
                <div class="layer"></div>
              </div>
              <div class="layer"></div>
            </div>
            <h4>Andrew Iskander</h4>
            <h5>Produkt Designer</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what-we-do-card" data-bs-toggle="modal" data-bs-target="#third-partner">
            <div class="card-img">
              <img class="w-100" src="assets/was-wir-sind/andrew's-img.png" alt="hands image">

              <div class="layer"></div>
            </div>
            <h4>Andrew Iskander</h4>
            <h5>Produkt Designer</h5>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

<app-shared-contact></app-shared-contact>

<div class="modal fade" id="first-partner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgba(0, 0, 0, 0.03);">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Partner 1</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-content-wrapper">
          <div class="modal-img">
            <img src="assets/was-wir-sind/andrew's-img.png" alt="" class="w-100">
          </div>

          <div class="modal-text">
            <header>
              <h2>Andrew Iskander</h2>
              <h3>Produkt designer</h3>
            </header>
            <article>
              <p>
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
              </p>
              <div class="slide-action">
                <button data-bs-toggle="modal" data-bs-target="#third-partner">
                  <img src="assets/was-wir-sind/arrow-left.png" alt="" srcset="">
                </button>

                <button data-bs-toggle="modal" data-bs-target="#second-partner">
                  <img src="assets/was-wir-sind/arrow-right.png" alt="" srcset="">
                </button>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="second-partner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgba(0, 0, 0, 0.03);">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Partner 2</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-content-wrapper">
          <div class="modal-img">
            <img src="assets/was-wir-sind/andrew's-img.png" alt="" class="w-100">
          </div>

          <div class="modal-text">
            <header>
              <h2>Andrew Iskander</h2>
              <h3>Produkt designer</h3>
            </header>
            <article>
              <p>
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
              </p>
              <div class="slide-action">
                <button data-bs-toggle="modal" data-bs-target="#first-partner">
                  <img src="assets/was-wir-sind/arrow-left.png" alt="" srcset="">
                </button>

                <button data-bs-toggle="modal" data-bs-target="#third-partner">
                  <img src="assets/was-wir-sind/arrow-right.png" alt="" srcset="">
                </button>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="third-partner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: rgba(0, 0, 0, 0.03);">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Partner 3</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-content-wrapper">
          <div class="modal-img">
            <img src="assets/was-wir-sind/andrew's-img.png" alt="" class="w-100">
          </div>

          <div class="modal-text">
            <header>
              <h2>Andrew Iskander</h2>
              <h3>Produkt designer</h3>
            </header>
            <article>
              <p>
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
                This is a wider card with supporting text below as a natural lead-in to additional content. This content
                is a little bit longer.
              </p>
              <div class="slide-action">
                <button data-bs-toggle="modal" data-bs-target="#second-partner">
                  <img src="assets/was-wir-sind/arrow-left.png" alt="" srcset="">
                </button>

                <button data-bs-toggle="modal" data-bs-target="#first-partner">
                  <img src="assets/was-wir-sind/arrow-right.png" alt="" srcset="">
                </button>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
