<section class="what-we-do-section">
  <div class="container">
    <header>
      <h2>Partners</h2>
    </header>

    <article>
      <div class="row">
        <div class="col-md-4">
          <div class="what-we-do-card" data-bs-toggle="modal" data-bs-target="#first-partner">
            <div class="card-img">
              <img class="w-100" src="assets/was-wir-sind/andrew's-img.png" alt="glasess image">
              <div class="layer"></div>
            </div>
            <h4>Andrew Iskander</h4>
            <h5>Produkt Designer</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what-we-do-card" data-bs-toggle="modal" data-bs-target="#second-partner">
            <div class="card-img">
              <div class="card-img">
                <img class="w-100" src="assets/was-wir-sind/andrew's-img.png" alt="building image">
                <div class="layer"></div>
              </div>
              <div class="layer"></div>
            </div>
            <h4>Andrew Iskander</h4>
            <h5>Produkt Designer</h5>
          </div>
        </div>
        <div class="col-md-4">
          <div class="what-we-do-card" data-bs-toggle="modal" data-bs-target="#third-partner">
            <div class="card-img">
              <img class="w-100" src="assets/was-wir-sind/andrew's-img.png" alt="hands image">

              <div class="layer"></div>
            </div>
            <h4>Andrew Iskander</h4>
            <h5>Produkt Designer</h5>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>