<section class="what-we-do-section">
  <div class="container">
    <header>
      <h2>{{data?.title}}</h2>
    </header>

    <article>
      <div class="row">
        <div class="col-md-4" *ngFor="let card of data?.media; let i = index">
          <div class="what-we-do-card" data-bs-toggle="modal" [attr.data-bs-target]="'#'+'bts'+'md'+i">
            <div class="card-img">
              <img class="w-100" src="{{card.image}}" alt="glasess image">
              <div class="layer"></div>
            </div>
            <h4>{{card?.title}}</h4>
            <h5>{{card?.subTitle}}</h5>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>