@import "../../../styles.scss";
main {
  background-image: url(../../../assets/was-wir-tun/intro-image.png);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0rem;
  .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    h2 {
      font-family: Lato;
      font-size: 48px;
      font-weight: 700;
      line-height: 21px;
      letter-spacing: 0px;
      color: #062c7f;
    }

    @media (max-width: 768px) {
      h2 {
        font-size: 32px;
      }
      gap: 10px;
    }
    .breadcrumb {
      display: flex;
      gap: 0.2rem;
      @media (max-width: 768px) {
        justify-content: center;
      }
      .active-bread {
        text-decoration: none;
        border-bottom: 2px solid $main-theme-bright;
        font-family: Lato;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0px;
        color: $main-theme-bright;
      }
      .not-active-bread {
        text-decoration: none;
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0px;
        color: #021235;
        @media (max-width: 768px) {
          text-align: center;
          font-size: 20px;
          font-weight: 500;
          margin-top: 0.3rem;
        }
      }
      .hide-on-mob {
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  @media (max-width: 768px) {
    padding: 2rem 0rem;
  }
}

.foregin-companies {
  padding: 100px 0px;
  .row {
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
      .col-md-4 {
        margin-top: 1rem;
      }
      .col-md-8 {
        margin-bottom: 1rem;
      }
    }
    img {
      width: 100%;
    }
    article {
      @media (max-width: 768px) {
        margin-top: 1rem;
        margin-bottom: 0;
      }
      h3 {
        font-family: Lato;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: 0px;
        color: $main-theme;
        @media (max-width: 768px) {
          font-size: 20px;
          line-height: normal;
          margin-top: 1rem;
        }
      }
      p {
        font-family: Lato;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0px;
        color: #6c757d;
        @media (max-width: 768px) {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 0;
        }
      }
    }
  }

  article {
    margin-top: 2rem;
    @media (max-width: 768px) {
      margin-top: 0;
    }
    p {
      font-family: Lato;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0px;
      color: #6c757d;
      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 0rem 0rem;
  }
}
