<div class="details-page" *ngIf="pageContent$ | async as content">
  <main>
    <div class="main-text" *ngIf="lang == 'due'">
      <h2>Was wir tun</h2>
      <div class="breadcrumb">
        <a routerLink="/" class="active-bread">Home</a>
        <a routerLink="/was-wir-tun" class="active-bread"> / Was wir tun </a>
        <a class="not-active-bread"><a class="hide-on-mob not-active-bread">/</a> {{content.title}}</a>
      </div>
    </div>

    <div class="main-text" *ngIf="lang == 'en'">
      <h2>Was wir tun</h2>
      <div class="breadcrumb">
        <a routerLink="/" class="active-bread">Home</a>
        <a routerLink="/was-wir-tun" class="active-bread"> / What we do </a>
        <a class="not-active-bread"><a class="hide-on-mob not-active-bread">/</a> {{content.title}}</a>
      </div>
    </div>

    <div class="main-text" *ngIf="lang == 'ar'">
      <h2>Was wir tun</h2>
      <div class="breadcrumb">
        <a routerLink="/" class="active-bread">الصفحه الرئيسية</a>
        <a routerLink="/was-wir-tun" class="active-bread"> / ما نقوم به </a>
        <a class="not-active-bread"><a class="hide-on-mob not-active-bread">/</a> {{content.title}}</a>
      </div>
    </div>
  </main>
  
  <section class="foregin-companies">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="{{content.image}}" alt="glasses_image">
        </div>
  
        <div class="col-md-8">
          <article>
            <h3>
              {{content.title}}
            </h3>
            <p>
              {{content.description}}
            </p>
          </article>
        </div>
      </div>
    </div>
  </section>
</div>

<app-shared-contact></app-shared-contact>