<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="assets/Group.svg" alt="" srcset="">
      </div>
      <div class="col-md-2">
        <div class="footer-links">
          <a *ngIf="lang == 'due'" class="hvr-forward" [routerLink]="['/was-wir-sind']">Was wir sind</a>
          <a *ngIf="lang == 'en'" class="hvr-forward" [routerLink]="['/was-wir-sind']">Who we are</a>
          <a *ngIf="lang == 'ar'" class="hvr-forward" [routerLink]="['/was-wir-sind']">من نحن</a>
          <a *ngIf="lang == 'due'" class="hvr-forward" [routerLink]="['/was-wir-tun']">Was wir tun</a>
          <a *ngIf="lang == 'en'" class="hvr-forward" [routerLink]="['/was-wir-tun']">What we do</a>
          <a *ngIf="lang == 'ar'" class="hvr-forward" [routerLink]="['/was-wir-tun']">ما نقوم به</a>
          <a *ngIf="lang == 'due'" class="hvr-forward" [routerLink]="['/Kontakt']">Kontact</a>
          <a *ngIf="lang == 'en'" class="hvr-forward" [routerLink]="['/Kontakt']">Contact</a>
          <a *ngIf="lang == 'ar'" class="hvr-forward" [routerLink]="['/Kontakt']">تواصل معنا</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-links" *ngIf="lang == 'en' || lang == 'due'">
          <a class="hvr-forward" [routerLink]="['/datenschutz']">Datenschutz</a>
          <a class="hvr-forward" [routerLink]="['/impressum']">Impressum</a>
        </div>

        <div class="footer-links" *ngIf="lang == 'ar'">
          <a class="hvr-forward" [routerLink]="['/datenschutz']">حماية البيانات</a>
          <a class="hvr-forward" [routerLink]="['/impressum']">بصمة</a>
        </div>
      </div>
      <div class="col-md-4">
        <h5 *ngIf="lang == 'due' || lang == 'en'">Iskander-lbc	&nbsp;	&nbsp;	&nbsp;   |	&nbsp;	&nbsp;	&nbsp;   All Rights Reserved</h5>
        <h5 *ngIf="lang == 'ar'">إسكندر- Lbc	&nbsp;	&nbsp;	&nbsp;   |	&nbsp;	&nbsp;	&nbsp;   جميع الحقوق محفوظه</h5>
        <h6 *ngIf="lang == 'ar'">©  حقوق النشر  {{year}}</h6>
        <h6 *ngIf="lang == 'due' || lang == 'en'">© Copyright  {{year}}</h6>
      </div>
    </div>
  </div>
</footer>