<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="assets/Group.svg" alt="" srcset="">
      </div>
      <div class="col-md-2">
        <div class="footer-links">
          <a class="hvr-forward" [routerLink]="['/was-wir-sind']">Was wir sind</a>
          <a class="hvr-forward" [routerLink]="['/was-wir-tun']">Was wir tun</a>
          <a class="hvr-forward" [routerLink]="['/kontakt']">Kontact</a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-links">
          <a class="hvr-forward" [routerLink]="['/datenschutz']">Datenschutz</a>
          <a class="hvr-forward" [routerLink]="['/impressum']">Impressum</a>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Iskander-lbc	&nbsp;	&nbsp;	&nbsp;   |	&nbsp;	&nbsp;	&nbsp;   All Rights Reserved</h5>
        <h6>© Copyright  2022</h6>
      </div>
    </div>
  </div>
</footer>